#todo_item_list
{
    text-decoration: none;
}

.edit 
{
    margin-left: 400px;
    border: none;
    background-color: dodgerblue;
    color: white;
    padding: 8px;

}

.delete 
{
    margin-left: 15px;
    border: none;
    background-color: red;
    color: white;
    padding: 8px;
}
li
{
    padding:5px;
}

ul
{
    padding-top: 100px;
}